SUBSYSTEM=="usb", ATTRS{idVendor}=="2717",ATTRS{idProduct}=="1228",MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1782",ATTRS{idProduct}=="5d04",MODE="0666"
